  .home {
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    width: 100%;
    position: relative;
    overflow-x: hidden;
  }
  
  .section {
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    align-items: center;
  }
  
  .section:nth-child(2){
    background-image: url('../static/img1.jpg');
    object-fit: contain;
    background-position: right center;
  }
  
  .section:nth-child(3){
    background-color: rgb(0, 0, 0);
    font-family: 'Cormorant Garamond';
  }

  .section:nth-child(4){
    background-color: rgb(0, 0, 0);
    font-family: 'Cormorant Garamond';
  }

  .section:nth-child(5){
    background-color: #000;
    font-family: 'Monserrat';
  }

.horizontal{
  flex-direction: column;
}

.half {
  width: 50vw;
  height: 100vh;
}

.half_horizontal {
  height: 50vh;
  width: 100vw;
}

.framed {
  border: 8px solid #ffffff77;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter {
  color: #ffffff77;
  font-size: 90vh;
}

.small {
  font-size: 15vh;
  font-family: 'Montserrat';
  letter-spacing: 5vw;
}